.date-picker .text-field {
    -fx-control-inner-background:  #313436;
}
.input .text-field {
    -fx-prompt-text-fill: white;
}

.date-picker .text-field {
    -fx-prompt-text-fill: white;
}

.date-picker .text-field {
    -fx-prompt-text-fill: white;
}